.wrapper3
  .main
    .main__left
      .main__left__life-target
        人生目標、幸せ
      .main__left__life-target-input
      .main__left__doream-target
        夢、自己実現
      .main__left__doream-target-input
      .main__left__Achievement-target
        達成目標
    .main__left__Achievement-target__input