.wrapper
  .header
    .logo-content
      = image_tag "logo.jpg", size: '100x100'
      
    .about-content
      
  .main
    .main__content
      .main__content__AppName
        life
      .main__content__subtitle
        行動にこそ価値がある
      .main__content__btn
        = link_to "始める", user_action_records_path(user_id: current_user.id), class: "main__content__btn-btn"
