@mixin ribon{
  position: relative;
  padding: 0.5em;
  background: #a6d3c8;
  color: white;
}
@mixin ribon_before{
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}
@mixin text{
  color: white;
  font-size: 25px;
  padding: 10px;
}

.wrapper2 {
  height: 100vh;
  width: 100%;
  .main {
    height: calc(100% - 60px);
    width: 100%;
    background-image: url(back.jpg);
    display: flex;
    
    .main__left {
      width: 50%;
      height: 100%;
      .main__left__text {
        height: 45%;
      }
      .main__left__edit {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        float: right
        
      }
      .main__left__life-target {
        width: 130px;
        @include ribon
      }
      .main__left__life-target::before {
        @include ribon_before
      }
      .main__left__life-target-input {
        @include text
      }
      .main__left__doream-target {
        margin-top: 25px;
        width: 100px;
        @include ribon
      }
      .main__left__doream-target::before {
        @include ribon_before
      }
      .main__left__doream-target-input {
        @include text
      }
      .main__left__Achievement-target {
        margin-top: 25px;
        width: 90px;
        @include ribon
      }
      .main__left__Achievement-target::before {
        @include ribon_before
      }
      .main__left__Achievement-target__input {
        @include text
      }
      .main__left__day-record {
        height: 50%;
        width: 100%;
        background-image: url(memo.png);
        background-size: cover;
        margin: 0 auto;
        position: relative;
        .main__left__day-record__content {
          position: absolute;
          left: 20px;
          top: 60px;
          overflow: scroll;
        }
      }
    }
    .main__light {
      width: calc(50% - 40px);
      height: calc(100% - 40px);
      padding:0 1em;
      background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
      background-size: auto 2.5em;
      line-height: 2.5em;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      margin-top: 5px;
      .main__light__records {
        height: calc(50% - 40px);
        width: calc(100% - 40px);
      }
      .main__light__title {
        height: 10%;
        font-size: 30px;
      }
      .main__light__record-pie-chart {
        height: 40%;
        width: 100%;
        display: flex;
        font-size: 30px;
        ul.main__light__record-pie-chart__left {
          flex-direction: column;
          li {
            margin-bottom: 40px;
          }
          .sleep {
            display: flex;
          }
          .work {
            display: flex;
          }
          .effort {
            display: flex;
          }
        }
        .main__light__record-pie-chart__right {
          flex-direction: column;
          margin-left: 200px;
          li {
            margin-bottom: 40px;
          }
          .takeBreak {
            display: flex;
          }
          .challenge {
            display: flex;
          }
          .chores {
            display: flex;
          }

        }
      }
    }

  }
}