.record {
  height: calc(100% - 60px);
  width: 100%;
  background-image: url("back.jpg");
  position: absolute;
  display: flex;
  &__note {
    width: 500px;
    height: 400px;
    padding:0 1em;
    background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
    background-size: auto 2.5em;
    line-height: 2.5em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    position: relative;
    left: 300px;
    top: 100px;
    &__input {
      height: 100%;
      width: 100%;
      &__record {
        text-align: right;
        .year {
          height: 30px;
        }
        .month {
          height: 30px;
        }
        .day {
          height: 30px;
        }
      }
      &__content {
        display: flex;
        margin-top: 40px;
        margin-left: 40px;
        &__left {
          &__box {
            height: 30px;
            width: 45px;
            text-align: center;
          }
        }
        &__right {
          &__box {
            height: 30px;
            width: 45px;
            text-align: center;
          }
        }
        
      }

      &__comment {
        margin-top: 40px;
        margin-left: 40px;
        .comment {
          height: 30px;
          width: 300px;
        }
      }
      &__submit {
        text-align: right;
      }
    }
  }
  &__errorcontent {
    height: 400px;
    width: 500px;
    position: relative;
    left: 300px;
    background-image: url(memo.png);
    background-size: cover;
    overflow: scroll;
    &__preview {
      height: calc(100% - 60px);
      width: calc(100% - 60px);
      padding: 40px 30px 20px 30px;
    }
  }
}


