.record {
  height: 100vh;
  width: 100%;
  background-image: url("back.jpg");
  position: absolute;
  &__note {
    width: 50%;
    height: 55%;
    padding:0 1em;
    background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
    background-size: auto 2.5em;
    line-height: 2.5em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    display: flex;
    position: relative;
    left: 300px;
    top: 100px;
    &__title {
      margin-top: 40px;
      font-weight: bold;

    }
    .form {
      width: 100%;
    }
    
  }
}


