.oneday {
  height: calc(100% - 60px);
  width: 100%;
  background-image: url("back.jpg");
  position: absolute;
  &__note {
    width: 50%;
    height: 70%;
    padding:0 1em;
    background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
    background-size: auto 2.5em;
    line-height: 2.5em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    left: 300px;
    top: 100px;
    &__content {
      padding: 40px 0 0 30px;
    }
    &__text {
      margin-top: 40px
    }
    &__piechart {
      float: right;
      margin: 20px 30px 0 0;
    }
  }
}
