%header.header
  %a.header__logo
    = image_tag "logo.jpg", size: '100x60'
  %a.header__user-date
    = current_user.name
  %a.header__record-btn
    .header__record-btn__record
      = link_to "記録する", new_action_record_path, class: "recordBtn"
      = link_to "ログアウト", destroy_user_session_path, method: :delete,class: "logoutBtn"
      