.header {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: wheat;
  .header__record-btn {
    margin: 10px 0 10px 0px;
    &__record {
      .logoutBtn {
        text-decoration: none;
        color: white;
      }
      .recordBtn {
        text-decoration: none;
        color: white;
      }
    }
    
  }
}