.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url(https://www.pakutaso.com/shared/img/thumb/PAK93_shibuyasukuranble20130615_TP_V.jpg);
  .header {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    
  }
  .main {
    .main__content {
      text-align: center;
      height: calc(100% - 100px);
      width: 100%;
      padding-top: 100px;
      .main__content__AppName {
        font-size: 120px;
        color: red;
        
      }
      .main__content__subtitle {
        font-weight: bold;
        color: red;
      }
      .main__content__btn {
        margin-top: 40px;
        color:  #A4C6FF;
        font-size: 100px;
        .main__content__btn-btn {
          text-decoration: none;
        }
      }
    }
  }
}