.sign-up {
  height: 100vh;
  width: 100%;
  background-image: url(back.jpg);
  position: relative;
  .sign-upBox {
    height: 70%;
    width: 30%;
    background-color: white;
    border: solid black;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%, -50%);
    &__name {
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 20px;
      margin-bottom: 40px;
    }
    &__content {
      &__fild {
        .box {
          display: block;
          margin: auto auto;
          width: 100%;
          margin-bottom: 2em;
          border: none;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 1.25em;
          color: #757575;
          &:focus {
            outline: none;
          }
        }
      }
      &__btn {
        .btn {
          display: inline-block;
          background: #1fb5bf;
          border: 1px solid darken(#1fb5bf, 5%);
          padding: .5em 2em;
          color: white;
          margin-right: .5em;
          margin-top: 20px;
        }
      }
    }
    .signBox__link {
      margin-top: 30px;
      font-size: larger;
      .btn {
        color: #1fb5bf;
        text-decoration: none;
      }
    }
  }
}